	/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
	html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

		html, body {
        	height: 100%;
        }

		#main {
			width : auto;
			max-width: 48em;
			margin: 0 auto;
		}

		a, p, .btn {
			font-family: "Ubuntu", sans-serif;
		}

		header {
			display: block;
			background: url(../images/header.png) no-repeat;
			background-position: 0 bottom;
			min-height: 80px;
		}

			#btn_home {
				display: block;
				min-width: 10em;
				margin: 2em auto 0;
				padding: 0 0 1em;
			}

		.btn {
			display: block;
			float: left;
			text-align: center;
			background: #003d79;
			color: white;
			width: 100%;
			margin: 0 0 4px;
			border-radius: 0;
			padding: 1em 0;
			text-decoration: none;
		}

		.btn_current {
			background: white;
			color: #003d79;
			border: 1px solid #003d79;
		}

/* margin */
		.margin_left_0 {
			margin-left: 0;
		}

		.margin_right_0 {
			margin-right: 0;
		}


/* carousel items */
		.carousel_item {
			display: none;
			position: relative;
		}

			.carousel_item.visible {
				display: block;
			}

			.carousel_img, .carousel_video {
				display: block;
				width: 100%;
			}

			.carousel_link {
				position: absolute;
				width: 60%;
				padding: 1em;
				text-decoration: none;
			}

			.underline {
				text-decoration: underline;
			}

		.align_br {
			bottom: 0;
			right: 0;
		}

		.bkg_blue {
			background: #003d79;
		}

		.round_tl {
			border-top-left-radius: 0.75em;
		}

		.text_white {
			color: white;
		}

		.opacity_90 {
			opacity: .9;
		}

		.text_align_center {
			text-align: center;
		}

		.text_align_right {
			text-align: right;
		}

		.text_shadow {
			text-shadow: 2px 2px 0px hsla(0, 0%, 0%, 0.1);
		}

		.clear_left {
			clear: left;
		}

	#wrap {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -8em;
	}

	#push, #footer {
		height: 8em;
    }
    
    footer {
    	width: 100%;
    	display: block;
    	background-color: #f5f5f5;
    	bottom: 0;
    	padding: 1em 0;
    	line-height: 1.5em;
    }

    .super {
    	font-size: .75em;
    	vertical-align: top;
    }

 @media only screen and (max-width: 768px) {
	nav {
		margin: 2em 5%;
		display: inline-block;
		width: 90%;
	}

	#btn_home {
		width: 50%;
		padding: 0 0 2em;
	}

		#btn_home img {
			width: 100%;
		}

	.btn {
		clear: both;
		outline: 1px solid #003d79;
		border: 1px solid #003d79;
	}

	.btn_current {
		margin: 0 0 6px;
		border: 1px solid #003d79;
	}

	.carousel p {
		font-size: 1em;
	}
}
 
@media only screen and (min-width: 769px) {
	.btn {
		padding: 1em 0;
		margin: 1em .25em;
		width: 7.45em;
		border-radius: 0.375em;
	}

}
